.task {
  font-size: 2em;
  height: 3em;
  overflow: hidden;
}

.input-group {
  width: 60%;
  margin: 10px auto;
}

.currentword {
  background-color: #ccc;
}

.wrong {
  color: #f00;
}

.right {
  color: #0a0;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

.hint {
	text-align: center;
}

.text-muted {
	text-align: right;
}

.table td:nth-child(2) {
	text-align: right;
}
