.task {
  font-size: 2em;
  height: 3em;
  overflow: hidden;
}

.input-group {
  width: 60%;
  margin: 10px auto;
}

.currentword {
  background-color: #ccc;
}

.wrong {
  color: #f00;
}

.right {
  color: #0a0;
}
