<!DOCTYPE html>
<html>
<head>
<title>Ruby Typing Trainer</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/words.css" />
<body>
<div id="wrap">
  <div class="container">
    <div class="page-header row">
      <div class="col-md-6 col-xs-4">
        <a href="#"><img src="images/ruby-typist.png" /></a>
      </div>
      <div class="col-md-6 col-xs-8" style="padding-top: 10px">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://localhost:4567/">Home</a></li>
          <!-- <li><a href="http://localhost:4567/stats">Statistics</a></li> -->
          <li><a href="https://github.com/FlopsKa/ruby-typing">Fork me on GitHub</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </div>
  <div class="container">
    <div id="footer">
      <hr />
      <p class="text-muted credit">
      <span>Copyright @flopska. Find me on <a href="http://github.com/flopska">GitHub</a> and <a href="http://twitter.com/flopska">Twitter</a></span>
      </p>
    </div>
  </div>
</div>
</body>
</html>
