<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12"
    <div id="speedtest">
      <p>Loading...</p>
    </div>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/words.js"></script>
  </div>
</div>
